@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #323232;
}

body {
  background: linear-gradient(
    126deg,
    rgba(52, 78, 65, 1) 0%,
    rgba(58, 90, 64, 1) 50%,
    rgba(88, 129, 87, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: #000;
  margin-bottom: -20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding: 1rem 3rem;
  gap: 1rem;
  border-radius: 20px;

  .container-datas {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    label {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      margin-top: 20px;
      margin-bottom: 0.1rem;
    }

    .container-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: #323232 1px solid;
      padding: 0 0.5rem;
      border-radius: 5px;
      gap: 10px;

      img {
        width: 25px;
        height: 25px;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        font-size: 1rem;
        text-align: left;
        color: #000;
      }
    }
  }

  .container-resultado {
    background: linear-gradient(
      to right,
      rgba(52, 78, 65, 1) 0%,
      rgba(58, 90, 64, 1) 50%,
      rgba(88, 129, 87, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    border-radius: 20px;

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
      color: #fff;
    }

    p {
      @extend h2;
      font-weight: 900;
      font-size: 2rem;
    }
  }
}
